html {
  background-color: #ecf3f3;
}

body {
  margin: 0;
  padding: 0;
}

header h1 {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  text-align: left;
  font-family: "Playfair Display", serif;
}
/*
  CONTENT
 */

.hero-section {
  height: 800px;
}

.content {
  position: absolute;
  left: 65%;
}
.content .blog.box {
  background-color: #ecf3f3;
}
.content .portfolio.box {
  background-color: #ecf3f3;
}
.content .contact.box {
  background-color: #ecf3f3;
}
.content .about.box {
  background-color: #ecf3f3;
}

/*
      CORNERS
 */

.top-left-corner {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
}

.top-left-corner-bottom {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 50px;
  height: 50px;
}

.top-right-corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  transform: rotate(270deg);
}

.bottom-right-corner-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
}

.bottom-left-corner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  transform: rotate(90deg);
}
.bottom-right-corner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  transform: rotate(0deg);
}

.blog.box {
  background-color: transparent;
  position: absolute;
  left: calc(-30vw - 5vw);
  height: 300px;
  width: 20vw;
}

.portfolio.box {
  background-color: transparent;
  position: absolute;
  top: 303px;
  left: calc(-10vw - 1px);
  height: 300px;
  width: 20vw;
}

.contact.box {
  background-color: transparent;
  position: absolute;
  top: 303px;
  left: calc(-30vw - 4px);
  height: 350px;
  width: 20vw;
}

.about.box {
  background-color: transparent;
  position: absolute;
  height: 300px;
  width: 20vw;
  left: calc(-15vw + 3px);
}
/*
    TEXT CONTENT - BOX OVERLAYS
 */

.text-content {
  position: absolute;
  left: 65%;
  z-index: -1;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  height: 2000px;
}

.text-content .box {
  border: 3px solid transparent;
  background-color: transparent;
}

.content .box {
  /* border: 3px dashed black; */
}

.text-content h2 {
  position: absolute;
  margin: 0;
}

.text-content .about.box h2 {
  top: 40px;
  right: -22px;
  transform: rotate(90deg);
}

.text-content .blog.box h2 {
  top: 40px;
}

.text-content .contact.box h2 {
  bottom: 60px;
  left: -25px;
  transform: rotate(-90deg);
}

.text-content .portfolio.box h2 {
  right: 10px;
  bottom: 0px;
}

/* #div1 {
  position: absolute;
  top: 9px;
  left: 9px;
  height: 300px;
  width: 300px;
  background-color: white;
  border: 5px solid black;
}

#div2 {
  position: relative;
  top: 50px;
  left: -50px;
  bottom: -50px;
  height: 302px;
  width: 302px;
  background-color: white;
  border-radius: 15px;
} */

/*
      ABOUT
 */

.about-container {
  /* position:absolute; */
  background-color: #3498db;
  /* width: 100vw; */
  padding: 40px;
  text-align: center;
  /* top: 1000px; */
  /* height: 700px; */
  color: white;
}

.about p,
.skills p,
.portfolio p {
  font-family: Helvetica;
  font-size: 20px;
}

.about h1,
.skills h1,
.portfolio h1 {
  /* position: relative; */
  top: 150px;
  left: 45vw;
  font-family: Helvetica;
}

/* .about .fa {
  position: relative;
  top: 170px;
  left: 10vw;
} */

.about .heart {
  height: 25px;
  width: 50px;
}

.about p {
  /* position: relative; */
  top: 200px;
  left: 1vw;
  letter-spacing: 1px;
  text-align: center;
}

/*
      SKILLS
 */

.skills-container {
  /*   position: absolute; */
  background-color: #e14d4c;
  /* width: 100vw; */
  /*   top: 1700px; */
  padding: 40px;
  text-align: center;
}

.skills {
  color: white;
}

.skills h1 {
  /* position: relative; */
  top: 1650px;
  left: 45vw;
}

.skills p {
  /* position: relative; */
  top: 1650px;
  left: 25%;
  margin-top: 50px;
}

.logo1,
.logo2 {
  height: 200px;
  width: 200px;
  display: inline-block;
}

.fav_img1,
.fav_img2,
.fav_img3,
.fav_img4,
.fav_img5,
.fav_img6,
.fav_img7,
.fav_img8 {
  /* position: relative; */
  /* top: 1250px; */
  height: 100px;
  width: 100px;
  display: inline-block;
}

.fav_group {
  /* position: relative; */
  top: 430px;
  left: 30vw;
}

.least_fav1,
.least_fav2 {
  /* position: relative; */
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100px;
  display: inline-block;
}

.least_fav3 {
  /* position: relative; */
  top: 0px;
  left: 0px;
  height: 100px;
  display: inline-block;
}

.least_fav_group {
  /* position: relative; */
  top: 1680px;
  left: 30vw;
}

.learn_group {
  /* position: relative; */
  top: 1675px;
  left: 30vw;
}

.learn1,
.learn2,
.learn3,
.learn4 {
  /* position: relative; */
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100px;
  display: inline-block;
}

.portfolio_container {
  /* position: absolute; */
  background-color: white;
  /* width: 100vw; */
  /* top: 2825px; */
  /* height: 400px; */
  /* DELETE HEIGHT AFTER COMPLETED PORTFOLIO SECTION*/
  padding: 40px;
}

.portfolio h1 {
  /* position: relative; */
  top: 150px;
  color: black;
  text-align: center;
}

.row {
  width: auto;
  text-align: center;
}

.row .column {
  display: inline-block;
  margin: 0 auto;
}

.social {
  /* position: relative; */
  /* top: 2600px; */
  width: 600px;
  left: 30%;
  height: 200px;
  background-color: ghostwhite;
  box-shadow: 10px 10px 5px #888888;
  margin: 0 auto;
}

.social .fa {
  margin-left: 27px;
  margin-top: 77px;
  left: 50%;
  margin-bottom: 100px;
}

footer {
  /*   position: absolute; */
  font-family: "Montserrat Alternates", sans-serif;
}

@media screen and (max-width: 600px) {
  .social {
    /* position: relative; */
    /* top: 2600px; */
    width: 100%;
    left: 30%;
    height: auto;
    background-color: ghostwhite;
    box-shadow: none;
    margin: 0 auto;
  }

  .social .fa {
    /* margin-left: 27px;
    margin-top: 77px; */
    display: inline-block;
    width: 20%;
    left: 50%;
    margin: 0;
    padding: 5px;
    text-align: center;
    /* margin-bottom: 100px; */
  }

  footer {
    /*   position: absolute; */
    font-family: "Montserrat Alternates", sans-serif;
    padding: 40px 10px;
    background-color: ghostwhite;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
}
