html {
  background-color: #ecf3f3;
}

header h1 {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  text-align: left;
  font-family: 'Playfair Display', serif;
}
/*
  THE FIRST BOX
 */

.content {
  position: absolute;
  left: 65%;
  height: 3000px;
}
.content .blog.box {
  background-color: #ecf3f3;
}
.content .portfolio.box {
  background-color: #ecf3f3;
}
.content .contact.box {
  background-color: #ecf3f3;
}
.content .about.box {
  background-color: #ecf3f3;
}

/*
      CORNERS
 */

.top-left-corner {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
}

.top-left-corner-bottom {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 50px;
  height: 50px;
}

.top-right-corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  transform: rotate(270deg);
}

.bottom-right-corner-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
}

.bottom-left-corner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  transform: rotate(90deg);
}
.bottom-right-corner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  transform: rotate(0deg);
}

.blog.box {
  background-color: transparent;
  position: absolute;
  left: calc(-30vw - 5vw);
  height: 300px;
  width: 20vw;
}

.portfolio.box {
  background-color: transparent;
  position: absolute;
  top: 303px;
  left: calc(-10vw - 1px);
  height: 300px;
  width: 20vw;
}

.contact.box {
  background-color: transparent;
  position: absolute;
  top: 303px;
  left: calc(-30vw - 4px);
  height: 350px;
  width: 20vw;
}

.about.box {
  background-color: transparent;
  position: absolute;
  height: 300px;
  width: 20vw;
  left: calc(-15vw + 3px);
}
/*
    THE 2ND BOX
 */

.text-content {
  position: absolute;
  left: 65%;
  z-index: -1;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  height: 2000px;
}

.text-content .box {
  border: 3px solid transparent;
  background-color: transparent;
}

.content .box {
  /* border: 3px dashed black; */
}

.text-content h2 {
  position: absolute;
  margin: 0;
}

.text-content .about.box h2 {
  top: 40px;
  right: -22px;
  transform: rotate(90deg);
}

.text-content .blog.box h2 {
  top: 40px;
}

.text-content .contact.box h2 {
  bottom: 60px;
  left: -25px;
  transform: rotate(-90deg);
}

.text-content .portfolio.box h2 {
  right: 10px;
  bottom: 0px;
}

/* #div1 {
  position: absolute;
  top: 9px;
  left: 9px;
  height: 300px;
  width: 300px;
  background-color: white;
  border: 5px solid black;
}

#div2 {
  position: relative;
  top: 50px;
  left: -50px;
  bottom: -50px;
  height: 302px;
  width: 302px;
  background-color: white;
  border-radius: 15px;
} */

/*
    TOP HEADING OF ABOUT | SKILLS | PORTFOLIO
 */

.about p,
.skills p,
.portfolio p {
  font-family: Helvetica;
  font-size: 20px;
}

.about h1,
.skills h1,
.portfolio h1 {
  position: relative;
  top: 150px;
  left: 50%;
  font-family: Helvetica;
}

/*
      ABOUT
 */

.about-container {
  position: absolute;
  background-color: #3498db;
  width: 100vw;
  top: 1000px;
  height: 700px;
  color: white;
}

/* .about .fa {
  position: relative;
  top: 170px;
  left: 10vw;
} */

.about p {
  position: relative;
  top: 200px;
  left: 1vw;
  letter-spacing: 1px;
  text-align: center;
}

.about img {
  height: 50px;
  width: 50px;
}

/*
      SKILLS
 */
/* .skills-container {
  position: absolute;
  background-color: #1abc9c;
  width: 100vw;
  top: 1700px;
  height: 700px;
  color: white;
} */

.skills {
  z-index: 1;
}

.skills h1 {
  position: relative;
  top: 1500px;
  left: 45vw;
}

.skills p {
  position: relative;
  top: 1550px;
  left: 50%;
  margin-top: 75px;
}

.portfolio h1 {
  position: relative;
  top: 2000px;
  left: 48%;
}

.social {
  position: relative;
  bottom: -2100px;
  width: 43vw;
  left: 30%;
  height: 200px;
  background-color: ghostwhite;
  box-shadow: 10px 10px 5px #888888;
}

.social .fa {
  margin-left: 27px;
  margin-top: 77px;
  left: 50%;
}

footer {
  position: absolute;
  bottom: 0px;
  font-family: 'Montserrat Alternates', sans-serif;
}

/*
          FUTURE REFERENCE FOR FLOATS
.parent {
  background: yellow;
}

.custom-box {
  background: black;
  width: 50%;
  height: 80px;
  float: left;
} */

/*
        INITIAL CSS

html,
body,
h1,
h2,
h3,
h4,
p,
div,
ul,
ol,
li {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  margin-top: 200px;
  margin-left: 200px;
}

h1 {
  position: fixed;
  top: 0px;
  left: 100px;
}

.blog {
  outline-color: #000;
  width: 250px;
  height: 250px;
  position: fixed;
  border: 5px solid #000;
  top: 153px;
  margin-left: -55px;
}

.portfolio {
  border: 8px solid #000;
  outline-color: #000;
  width: 450px;
  height: 275px;
  margin: auto;
  position: fixed;
  margin-left: 200px;
  margin-top: -78px;
}

.contact {
  border: 2px solid #000;
  outline-color: #000;
  width: 400px;
  height: 300px;
  margin: auto;
  position: relative;
  bottom: -211px;
  margin-left: -100px;
}

.about {
  border: 6px solid #000;
  outline-color: #000;
  width: 200px;
  height: 200px;
  position: absolute;
  margin-top: -97px;
  margin-left: 304px;
}
 */
